@font-face {
  font-family: "Poppins";
  src: url(font/Poppins-Regular.ttf);
}
* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  position: relative;
}
body {
  background: url(bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
section h1 {
  margin-top: 180px;
  font-size: 50px;
  font-weight: bold;
}

/* CSS Email checker */
.container .msg {
  background-color: #00c95b;
  color: white;
  margin: 10px 270px 10px 270px;
  padding: 5px 0px 5px 0px;
}

/* CSS Container2 SignUp dan SignIn */
.container2 {
  margin-top: 45px;
  width: 350px;
  height: 550px;
  background: url(bg2.png);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  /*border-radius: 20px;*/
}
.container2 h1 {
  padding-top: 100px;
  font-weight: bold;
  letter-spacing: 2px;
}
.container2 h6 {
  padding-bottom: 20px;
}
.container2 input {
  outline: none;
  border-radius: 30px;
  padding-left: 40px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border: none;
}
.container2 .field-iconx {
  float: left;
  margin-left: 15px;
  margin-top: 20px;
  position: relative;
  z-index: 3;
}
.container2 .row .field-icon {
  float: left;
  margin-left: 15px;
  margin-top: -26px;
  position: relative;
  z-index: 2;
}
.container2 label {
  float: left;
}
.container2 input {
  font-size: 14px;
}
.container2 input::placeholder {
  font-size: 14px;
}
.container2 form h6 {
  margin: 10px -50px 0px 0px;
  text-align: right;
  font-weight: bold;
}
.container2 button {
  color: #fff;
  background-color: #c674f2;
  padding: 5px;
  font-size: 14px;
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 20px;
  outline: none;
  margin-top: 20px;
  transition: 0.3s;
}
.container2 button:hover {
  background: transparent;
  color: #014441;
  border: 2px solid #014441;
}
.container .ex,
.home .container .ex a,
.container2 p a {
  font-family: "Poppins";
  text-decoration: none;
  font-size: 14px;
}
