
body{
	background-image:url('bckgrnd.jpg');
	background-size: cover;
}
form{
	position: fixed;
	top: 5%;
	left: 30%;
	width: 35%;
	height: 90%;
	background-color: #fff;
	border-radius: 6px;
	text-align: center;
}
.header{
	font-family: lobster;
	padding: 30px 0 30px 0;
	background-color: rgb(27, 26, 26);
	font-size: 30px;
	text-align: center;
	color: white;
	border-radius: 6px 6px 0 0;
	margin-bottom: 50px;
}
.container input{
	width: 350px;
	height: 50px;
	margin-bottom: 6px;
	padding-right: 22px;
	border-radius: 4px;
	border:none;
	background-color: #eee;
}
input.cb_agree{
	margin-top: 45px;
	margin-left: -130px;
}
.bt_signup{
	margin-top: 10px;
	margin-bottom: 15px;
	width: 370px;
	height: 50px;
	background-color: #19B5FE;
	border: none;
	border-radius: 5px;
	color: #fff;
	font-size: 18px;
}