body{
  font-family: sans-serif;
  background:  #ccfff2;
}

h3{
  text-align: center;
  font-family: initial;
  font-size: 40px;
}

.container{
 width: 360px;
 background: white;
 margin:100px auto;
 padding: 12px 15px;
}

input[type=text],
input[type=email],
input[type=password]{
 font-size: 15px;
 width: 100%;
 padding: 10px 30px;
 margin: 8px 0;
 box-sizing: border-box;
 border: 2px solid #ccc;
 -webkit-transition: 0.5s;
 transition: 0.5s;
 outline: none;
 background-size: 30px;
 background-position: 5px 5px;
 background-repeat: no-repeat;
 border-radius: 5px;
}

input[type=submit],
input[type=reset]{
 font-size: 15px;
 background: #009973;
 color: white;
 border: white 3px solid;
 border-radius: 5px;
 padding: 12px 15px;
 cursor:pointer;
 margin-top: 10px;
}

input[type=submit]:hover,
input[type=reset]:hover{
 opacity:0.9;
}

input[type=reset]{
 background:  #999999;
}