* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(image/display.png);
    background-size: cover;
}

.up {
    margin-top: 20%;
}

button a {
    text-decoration: none;
    color: grey;
    transition: 0.7s ease;
}

button a:hover {
    text-decoration: none;
    color: white;
    font-size: 40px;
    transition: 0.7s ease;
}

button {
    transition: 0.7s ease;
}

button:hover {
    font-size: 40px;
    transition: 0.7s ease;
}